code {
    /* Reset default styles of VS Code WebView */
    background: none;
    padding: 0;
}

.line-highlight.line-highlight {
    /* Override highlight color */
    background-color: var(--vscode-editor-wordHighlightBackground);
    box-shadow: none;
}